body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;

}

.mini-prof-pic{
    margin-right:4px;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.event{
    border: 2px solid black;
    border-bottom: 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom:5px;
    background: -webkit-linear-gradient(bottom,rgba(20,20,20,0),rgba(20,20,20,.2));
}

.event-content{
    margin-top:10px;
}

.title
{
    font-weight: bold;
}

.time
{
    margin-left: 105px;
}

.text
{
    font-size: 1.5em;
    display: inline-block;
    line-height: 1;
    max-width: 60%;
}

.friend
{

    z-index: 2;
    float: right;
    padding-right: 7px;
}

.icon
{
    display: inline-block;
    float:left;
    padding: 10px;
}

