body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;

}


.text
{
    display: inline-block;
    width: 30%;
}

.friend
{
    margin-left: 260px;
	display: inline-block;
}

.icon
{
    display: inline-block;
	padding-right: 10px;
}

